* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff5f00;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: .7rem;
}

.icon {
    color: #ff5f00;
    font-weight: bold;
}

main {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Message */
.center-message {
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    width: 40%;
    max-width: 600px;
    font-size: .8rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 70%;

}

.center-message p {
    color: #fff;
    margin: .4rem 0;
}

/* ICONS */
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: no-wrap;
    margin: 1.5rem auto;
    width: 80%;
    font-size: .6rem;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff5f00;
    width: 8.5rem;

}

.icon-item .icon {
    font-size: 2.2rem;
}

.icon-item span {
    color: #fff;
    margin-top: 10px;
}

footer {
    color: #777;

}

footer p{
    font-size: .7rem;
}
